doctype html
html
  head
    title= title
    meta(http-equiv="Content-Type",content="text/html; charset=utf-8")
    meta(name="viewport",content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no")
    link(rel='stylesheet', href='/css/r.css')
  body
    img(src='/images/1.png')
    img(src='/images/2.png')
    img(src='/images/3.png')
    img(src='/images/4.png')
    img(src='/images/5.png')
    img(src='/images/6.png')
    .link-wrap
        a(href='#')
            img(src='/images/8.png')
        p 拒绝做理财小白！
        p 注册就送10-1000元现金礼包哦！  
        
        